.chat-container {
	width: 100%;
	height: 100vh; /* Use viewport height to cover the entire screen */
	display: flex;
	flex-direction: column;
	position: relative; /* Make it a reference point for absolutely positioned elements */
	background-color: #262525; /* Dark background color */
}

.message-list {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}

.message {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.message {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.sent {
	align-self: flex-start; /* Align sent messages to the left */
	background-color: #2b520d; /* Light green for sent messages */
	align-items: flex-start; /* Align text to the start (left) */
	max-width: 25%; /* Limit maximum width to 70% of the container */
	margin-right: auto; /* Push sent messages to the left */
	border-radius: 10px; /* Add rounded border to sent messages */
	padding: 10px; /* Add padding for text */
	font-size: 16px; /* Increase font size */
	margin-bottom: 15px;
	color: white;
}

.received {
	align-self: flex-start; /* Align received messages to the left */
	background-color: #1b395b; /* Light gray for received messages */
	align-items: flex-start; /* Align text to the start (left) */
	max-width: 25%; /* Limit maximum width to 70% of the container */
	margin-left: auto; /* Push received messages to the right */
	border-radius: 10px; /* Add rounded border to received messages */
	padding: 10px; /* Add padding for text */
	font-size: 16px; /* Increase font size */
	margin-bottom: 15px;
	color: white;
}

.message-input {
	display: flex;
	align-items: center;
	padding: 10px;
	position: fixed; /* Make it fixed */
	bottom: 0; /* Position it at the bottom */
	width: 100%; /* Make it cover the entire width */
	background-color: #383434; /* Set background color */
}

.message-input input {
	flex: 1;
	padding: 8px;
	border: 1px solid #858181;
	border-radius: 20px;
	margin-right: 10px;
	background-color: #acaaaa;
}

.message-input button {
	padding: 8px 15px;
	border: none;
	background-color: #56a155;
	color: #f5f3f3;
	border-radius: 20px;
	cursor: pointer;
}

.message-input button:hover {
	background-color: #0056b3;
}
